<div class="content">
<div *ngIf="error" class="text-danger">{{error}}</div>
<div *ngIf="success" class="text-success">{{success}}</div>
    
<div id="theList" class="p-5" style="width:70%">
  <h2>The list</h2>

  <div class="list-group ">
    <div *ngFor="let item of avengers;let i = index;" class="row p-2">
      <div class="col-sm-4">
        <input type="text"
               [(ngModel)]="avengers[i].model"
               class="form-control"
               required
               pattern="^[a-zA-Z]+$"
               #model="ngModel"
               [ngClass]="{ 'is-invalid': model.touched && model.invalid }">
      </div>
      <div class="col-sm-4">
        <input type="number"
               [(ngModel)]="avengers[i].price"
               class="form-control"
               required
               #price="ngModel"
               [ngClass]="{ 'is-invalid': price.touched && price.invalid }">
      </div>
      <div class="col-sm-4">
        <input type="button"
               value="Update"
               class="btn btn-success btn-sm"
               [disabled]="model.invalid || price.invalid"
               (click)="updateAvenger(model, price, item.id)">
        <input type="button"
               value="Delete"
               class="btn btn-danger btn-sm"
               (click)="deleteAvenger(item.id)"/>
      </div>
    </div>
  </div>
</div>

<div id="theForm" class="p-5" style="width:70%">
  <h2>The form</h2>
  <form #f="ngForm" name="theForm" (submit)="addAvenger(f)">
    <div class="form-group">
      <label>Model</label>
      <input type="text"
            class="form-control"
            name="model"
            [(ngModel)]="avenger.model"
            #avengerModel="ngModel"
            required
            pattern="^[a-zA-Z]+$">
      <span class="help-block danger" *ngIf="avengerModel.errors?.required && avengerModel.touched">
        The model name is required
      </span>
      <span class="help-block danger" *ngIf="avengerModel.errors?.pattern && avengerModel.touched">
        The model name can only contain the letters a-z or A-Z
      </span>
    </div>

    <div class="form-group">
      <label>Price</label>
      <input type="number"
            class="form-control"
            name="price"
            required
            [(ngModel)]="avenger.price"
            #avengerPrice="ngModel">
      <span class="help-block danger" *ngIf="avengerPrice.errors?.required && avengerPrice.touched">
        The price is required
      </span>
    </div>

    <button
        class="btn btn-primary btn-sm"
        [disabled]="f.invalid">Add</button>
  </form>
</div>

</div>